:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #f4623a;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #f4623a;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**,*/
/**::before,*/
/**::after {*/
/*  box-sizing: border-box;*/
/*}*/

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

/*body{*/
/*  font-family: 'Sansita Swashed', cursive;*/
/*  padding-top: 56px;*/
/*}*/
/*.navbar{*/
/*  display: flex;*/
/*  align-items: center;*/
/*  !*padding: 20px;*!*/
/*}*/

.container{
    /*height: 80vh;*/
    width: auto;
    height: auto;
  /*background-size: cover;*/
  background: url(images/gooaprof.jpeg) center;
  /*color: white;*/
    opacity: 1;
}

.slideshow{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slideshow-item{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 61s infinite;
}

.slideshow-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 61s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
    animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
    animation-delay: 10s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
    animation-delay: 20s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img {
    animation-delay: 30s;
}
/*.slideshow-item:nth-child(5),*/
/*.slideshow-item:nth-child(5) img {*/
/*    animation-delay: 40s;*/
/*}*/


.slideshow-item-text{
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 10rem 5rem;
}
.slideshow-item-text h5{
    font-size: 5rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2.5rem;
}
.slideshow-item-text p{
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: 1px;
    font-weight: 300;
}
@keyframes cycleImages{
    25%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}

@keyframes zoom {
    100%{
        transform: scale(1.3);
    }
}

@media screen and (max-width: 1000px) {
    .slideshow-item-text{
        max-width: 70%;
        padding: 5rem 1rem;
    }

    .slideshow-item-text h5{
        font-size: 4rem;
    }
}

@media screen and (max-width: 767px) {
    .slideshow-item-text{
        max-width: 100%;
        padding: 2rem;
        top: initial;
        bottom: 0;
        transform: initial;
    }

    .slideshow-item-text h5{
        font-size: 3rem;
    }
    .slideshow-item-text p{
        font-size: 1.4rem;
    }
}

.menu-bar
{
    background-image: linear-gradient(to right, purple, cyan);
    position: sticky;
}
.nav-link
{
    font-size: 16px;
    color: black !important;
    margin: 2px;
}
.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}
.navbar-nav
{
    text-align: right;
}
.menu-bar .navbar-toggler
{
    padding-right: 0;
    outline: none;
    border: none;
}


.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}
#map {
  height: 400px;
  width: 100%;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;

}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-linkedin {
  background: #55ACEE;
  color: white;
}


.more{
  background: linear-gradient(to left, cornflowerblue, white);
}
#contactus{
  background: linear-gradient(to left, gray, white);
}

.categories{
  width: 1280px;
  min-height: 500px;
  background: #fff;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.categories .col-3{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
/*.col-3 img{*/
/*  width: 100%;*/
/*}*/
.categories .col-3 .cat{
  position: relative;
  overflow: hidden;
}
.categories .col-3 .cat img{
  max-width: 100%;
  transition: transform 2s;
}
.categories .col-3 .cat img{
  transform: scale(1.2);
}
.categories .col-3 .details{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 5px;
  right: 10px;
  background: rgba(0,0,0,0.8);
  transform: scaleY(0);
  transition: transform .5s;
}
.categories .col-3:hover .details {
  transform: scaleY(1);
  margin-top: 1px;
}
.categories .col-3 .details .content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding-top: 5px;
  color: #fff;
}
.categories .col-3 .details .content h2{
  margin: 0;
  padding: 0;
  font-size: 20px;
  /*color: ff0;*/
}
.categories .col-3 .details .content a{
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #fff;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.cat:hover{
  display: block !important;
}
.container-footer{
  font-size: 14px;
  padding: 60px 0 20px;
  max-width: 100%;
  height: auto;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
  /*max-height: 100%;*/
  padding: 50px 0;
}

.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 255px 0;
}

.btn{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
span {
  content: "\27AB";
}
.btn:hover{
  background: #563434;
}

.header{
  background: radial-gradient(#fff,#ffd6d6);
}
.img-responsive{
    height: auto;
    width: auto;
    /*max-height: 72px;*/
    /*max-width: 250px;*/
}
.header .row{
  margin-top: 70px;
}