<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GOOA Company Limited</title>

  <link href="{{ url_for('static', filename="vendor/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
  <link href={{ url_for('static', filename="css/styles.css") }} rel="stylesheet">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Open+Sans:300" />

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!--  <script>-->

</head>

<body>

  <!-- Navigation -->
<!--  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">-->
<!--    <div class="container">-->
<!--&lt;!&ndash;      <a class="navbar-brand" href="#">GOOA Company Ltd.</a>&ndash;&gt;-->
<!--      <a class="navbar-brand" href="#"><img src="images/shipping.png" class="img-responsive" alt="COmpany Logo" style="alignment: left"></a>-->

<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--        <ul class="navbar-nav ml-auto">-->
<!--          <li class="nav-item active">-->
<!--            <a class="nav-link" href="#">Home-->
<!--              <span class="sr-only">(current)</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#about">About</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#services">Services</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#contact">Contact</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->


  <section id="header">
      <div class="menu-bar">
          <nav class="navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/shipping.png') }}" class="img-responsive" alt=""></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                          <a class="nav-link" href="#">Home </a>
                      </li>
<!--                      <li class="nav-item">-->
<!--                          <a class="nav-link" href="#about">About</a>-->
<!--                      </li>-->
                      <li class="nav-item">
                          <a class="nav-link" href="#contact">Contact</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#services">Services</a>
                      </li>
                  </ul>
              </div>
          </nav>

      </div>

  </section>


  <div class="slideshow">
      <div class="slideshow-item">
          <img src={{ url_for('static', filename="images/gooaprof.jpeg") }} alt="">
          <div class="slideshow-item-text">
              <h5>GOOA World Freighters</h5>
              <p>About us, GOOA  WORLD  FREIGHTERS  LIMITED  is  a  private  limited  company  registered  in Kenya  Under  the  Kenya  Company  Registration  Act.  Rooted  in  the  <b>Logistics  general supplies  industry,</b>  As  one  of  the  logistics  company  in  the  region.</p>
          </div>
      </div>
      <div class="slideshow-item">
          <img src={{ url_for('static', filename="images/vision.jpg") }} alt="">
          <div class="slideshow-item-text">
              <h5>Our Vision </h5>
              <p>To provide excellent and quality services to the full satisfaction of our client by offer-ing best professional engineering practice and sustainable solutions.</p>
          </div>
      </div>
      <div class="slideshow-item">
          <img src={{ url_for('static', filename="images/mission.jpg") }} alt="">
          <div class="slideshow-item-text">
              <h5>Our Mission</h5>
              <p>To  provide  the  highest  quality  of  service  to  our  clients,  ensure  long-term  profitability, increase shareholder value, provide career opportunities, and continuously support the betterment of the community.</p>
          </div>
      </div>
<!--      <div class="slideshow-item">-->
<!--          <img src="images/purpose.jpg" alt="">-->
<!--          <div class="slideshow-item-text">-->
<!--              <h5>Purpose</h5>-->
<!--              <p>To be a leader in the logistics & general supplies by providing enhanced services, relationship and profitability</p>-->
<!--          </div>-->
<!--      </div>-->
            <div class="slideshow-item">
          <img src={{ url_for('static', filename="images/strategy.jpg") }} alt="">
          <div class="slideshow-item-text">
              <h5>Our Strategy</h5>
              <p>We  place  the  highest  value  on   teamwork  and  mutual   respect  among  our employees  and  our  clients.  Our  success  is  the  result  of  working  diligently  as  a team  to  do  each  job  right  as  well  as  maintaining  a  long-term  perspective  and integrity in the face of daily pressures while ensuring excellence and satisfaction in our product and service.</p>
          </div>
      </div>
  </div>


  <!-- Page Content -->
  <div class="more">
  <div class="container">
        <h2>What We Do? </h2>
        <hr>
        <p>Gooa World Freighters Limited provides: <ul> <li>safe  and reliable   long   and   short   Haulage</li> <li>  Bulk   and   bagged   Warehousing</li> <li>Clearing   and Forwarding</li> <li> Bulk Cargo Handling</li> <li>Air Cargo Services etc..</li></ul> for general and specialized cargo to a diverse industry segment like steel, cement, food and many more in the East African Region. </p>
        <p>With our industry expertise, innovative technology and a modern approach to the real world  of  logistics,  our  customers  are  assured  that  their  cargo  is  in  safe  hands.  In addition  to  the  logistics  footprint  ,  the  company  plans  to  expand  its  trade  by  focusing on various aspects including General Supplies, supply of building and construction materials among others.</p>
        </p>
        <p></p>
        <a class="btn btn-primary btn-lg" href="#">Get quotation</a>
<!--      </div>-->
<!--      <div class="col-md-4 mb-5">-->
  </div>

            <br><br>
            <hr>


    <div class="categories" id="services">
    <h2 class="title">Services</h2><br>
      <hr>
        <small>Hover over image for further details</small>

    <div class="small-container" id="category-section">
        <div class="row">
            <div class="col-3">
                <div class="cat">
                  <h5>Transport & Logistics</h5><br>
                    <img src={{ url_for('static', filename="images/overseas.jpg") }} alt="" >
                </div>
                <div class="details">
                    <div class="content">
                      <p>Our main functional areas are transportation, warehousing, and distribution. We have enough fleet of trucks and equipment that are operated by highly professional persons,who are ... </p>
                        <a href="services.html#transport"><h2>Read more</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                <h5>Our Services</h5><br>
                    <img src={{ url_for('static', filename="images/services.jpg") }} alt="">
                </div>
                <div class="details">
                    <div class="content">
                        <p>We offer a range of value added services, such as: <ul> <li>free consulting to clients</li><li>transportation and logistics services</li></ul></p>
                        <a href="services.html#ourservices"><h2>Read more</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                  <h5>Road, ship & air Freight</h5><br>
                    <img src={{ url_for('static', filename="images/road.jpg") }} alt="">
                </div>
                <div class="details">
                    <div class="content">
                      <p><strong>Reliable</strong> and <b>time-definite door-to-door</b>road transport. Our multi-modal infrastructure, which unites all products in one warehouse and distribution center, ensures the highest possible level of efficiency.</p>
                        <a href="services.html#road"><h2>Read more</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                  <h5>Customs Clearance </h5><br>
                    <img src={{ url_for('static', filename="images/logistics.jpg") }} alt="">
                </div>
                <div class="details">
                    <div class="content">
                      <p> Our professional staff are skilled in customs law, regulations and procedures for all countries in East Africa. We provide consultancy services based on our experience as well continuous development and training...</p>
                        <a href="services.html#customs"><h2>Read more</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                  <h5>General Supplies</h5><br>
                    <img src={{ url_for('static', filename="images/warehousing.jpg") }} alt="">
                </div>
                <div class="details">
                    <div class="content">
                      <p>Our aim is to provide cost efficient procurement on a larger scale, straight from the source & offer supply solutions in the most demanding environments where lead times and supply locations are challenging.</p>
                        <a href="services.html#supplies"><h2>Read more</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                  <h5>General Office Suppliers</h5><br>
                    <img src={{ url_for('static', filename="images/office.jpg") }} alt="">
                </div>
                <div class="details">
                  <p style="color: white">We offer a wide range of Office systems and chairs that are flexible, dynamic and ergonomic. <br>Stationery Sell and Supply</p>
                    <div class="content">
                        <a href="services.html#office"><h2>Read more</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                  <h5>Printing Services</h5><br>
                    <img src={{ url_for('static', filename="images/printing.jpg") }} alt="">
                </div>
                <div class="details">
                    <div class="content">
                      <p> This unit is involved in provision of expert computer-related services with efficiency. This is an express service where binding is done ‘As-u- wait’. Off-press binding of printed matter e.g. receipts books</p>
                        <a href="services.html#printing"><h2>Read more</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                  <h5>Advertising and Branding</h5><br>
                    <img src={{ url_for('static', filename="images/advertising.jpg") }} alt="Air Freight" style="width: auto" height="40px">
                </div>
                <div class="details">
                    <div class="content">
                      <p>Gooa World Freighters Limited’s Marketing division has qualified staff members with experience in branding and advertising, which includes Graphic design and printing</p>
                        <a href="services.html#advertising"><h2>Read more</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                  <h5>Corporate Advertising and Branding</h5><br>
                    <img src={{ url_for('static', filename="images/customsbrokerage.jpg") }} alt="">
                </div>
                <div class="details">
                    <div class="content">
                      <p> This unit is involved in provision of expert computer-related services with efficiency. This is an express service where binding is done ‘As-u- wait’. Off-press binding of printed matter e.g. receipts books</p>
                        <a href="services.html#corporate"><h2>Read more</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                  <h5>Supply of Agricultural Products</h5><br>
                    <img src={{ url_for('static', filename="images/agriculture.jpg") }} alt="Air Freight">
                </div>
                <div class="details">
                    <div class="content">
                      <p>We deal in general supplies, distribution, wholesale and retail of all types of Agricultural products including Vegetables, Fruits and dry cereals produce such as maize, beans, wheat, soya, millet, sorghum ...</p>
                        <a href="services.html#agriculture"><h2>Read more</h2></a>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>

        <div class="container" id="contactus" style="width: auto">
      <h2 id="contact">Contact Us</h2>
      <p>We are always willing to help, Please contact us to discuss your requirements and how we can be of assistance to you</p>

      <!-- The social media icons -->
      <a href="http://facebook.com/gooaworldfreighters" class="fa fa-facebook" target="_blank"></a>
      <a href="https://linkedin.com/company/gooa-world-freighters-limited/" class="fa fa-linkedin" target="_blank"></a>


      <hr>

      <address>
          <strong>GOOA World Freighters Limited</strong>
          <br>
          <strong>P.O. BOX – 4483-00100</strong>
          <br>Nairobi, Kenya
          <br>
          <!--          Div element for map-->
          <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="455" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=1006&amp;height=455&amp;hl=en&amp;q=Olive Business Centre Kitengela&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://embedgooglemap.xyz/">embed google map</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:455px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:455px;}</style></div>
      </address>
      <address>
          <p><strong>Phone:</strong> +254 723 801 544</p>
          <br>
          <p><strong>Email: </strong><a href="mailto:#">info@gooaworldfreighters.co.ke</a></p>

      </address>
      <span><strong>Operation hours: </strong><b>Mon - Fri: 8:00am - 5:00pm | Sat: 9:00am - 1:00pm</b></span>
  </div>


</div>

  <!-- Footer -->
  <footer class="py-5 bg-dark" style="height: 5px">
<!--      <div class="container-footer" style="height: 5px" style="width: auto">-->
<!--          <img src="images/shipping.png" class="img-responsive" alt="Company Logo" style="alignment: center">-->
          <p class="m-0 text-center text-white">Copyright &copy; GOOA 2020. All Rights Reserved</p>
<!--      </div>-->
      <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src={{ url_for('static', filename="vendor/jquery/jquery.min.js") }}></script>
  <script src={{ url_for('static', filename="vendor/bootstrap/js/bootstrap.bundle.min.js") }}></script>

</body>
</html>
