<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GOOA Company Limited</title>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="css/styles.css" rel="stylesheet">

</head>

<body>

  <section id="header">
    <div class="menu-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="images/shipping.png" class="img-responsive" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="index.html#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#services">Services</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

</section>


    <!-- Header -->
  <div class="slideshow">
      <div class="slideshow-item">
          <img src="images/gooaprof.jpeg" alt="">
          <div class="slideshow-item-text">
              <h5>GOOA World Freighters</h5>
              <p>About us, GOOA  WORLD  FREIGHTERS  LIMITED  is  a  private  limited  company  registered  in Kenya  Under  the  Kenya  Company  Registration  Act.  Rooted  in  the  <b>Logistics  general supplies  industry,</b>  As  one  of  the  logistics  company  in  the  region.</p>
          </div>
      </div>
      <div class="slideshow-item">
          <img src="images/vision.jpg" alt="">
          <div class="slideshow-item-text">
              <h5>Our Vision </h5>
              <p>To provide excellent and quality services to the full satisfaction of our client by offer-ing best professional engineering practice and sustainable solutions.</p>
          </div>
      </div>
      <div class="slideshow-item">
          <img src="images/mission.jpg" alt="">
          <div class="slideshow-item-text">
              <h5>Our Mission</h5>
              <p>To  provide  the  highest  quality  of  service  to  our  clients,  ensure  long-term  profitability, increase shareholder value, provide career opportunities, and continuously support the betterment of the community.</p>
          </div>
      </div>
<!--      <div class="slideshow-item">-->
<!--          <img src="images/purpose.jpg" alt="">-->
<!--          <div class="slideshow-item-text">-->
<!--              <h5>Purpose</h5>-->
<!--              <p>To be a leader in the logistics & general supplies by providing enhanced services, relationship and profitability</p>-->
<!--          </div>-->
      </div>
            <div class="slideshow-item">
          <img src="images/strategy.jpg" alt="">
          <div class="slideshow-item-text">
              <h5>Our Strategy</h5>
              <p>We  place  the  highest  value  on   teamwork  and  mutual   respect  among  our employees  and  our  clients.  Our  success  is  the  result  of  working  diligently  as  a team  to  do  each  job  right  as  well  as  maintaining  a  long-term  perspective  and integrity in the face of daily pressures while ensuring excellence and satisfaction in our product and service.</p>
          </div>
      </div>
  </div>



  <div class="more">
      <div class="container">
          <div class="row" id="transport">
              <div class="col-2">
                  <h3>TRANSPORT & LOGISTICS</h3>
                  <p>Providing logistics and transportation services is
                      our core competency. Our main functional areas
                      are transportation, warehousing, and distribution.
                      We have enough fleet of trucks and equipment's
                      that are operated by highly professional persons,
                      who are ready to pick and deliver cargo of nearly
                      any dimension and structure.
                      One of our main strengths is our desire to advance
                      and be up-to-date as far as machinery and
                      technology
                      is
                      concerned.
                      We
                      use
                      modern
                      machines to get the job done in a more efficient
                      and quality manner.
                      We are well known for our “safety-first” policy
                      that guarantees safe handling and delivery of our
                      clients' shipments. Precisely Tallient Logistics Ltd
                      offers: <ul> <li>Transportation</li> <li>Moving Services</li> <li>Processing of abnormal cargo permits</li> <li>Cargo tracking and escorting.</li></ul> </p>

                  <a href="" class="btn">Explore<span>&#10155;</span></a>
              </div>
              <div class="col-2">
                  <img src="images/overseas.jpg">

              </div>
          </div>
      </div>

          <br>
          <hr>

      <div class="row" id="ourservices">
          <div class="col-2">
              <h3>OUR SERVICES</h3>
              <p>We offer a range of value added
                  services, such as: <ul> <li>free consulting to
              clients regarding a variety of customs
              processes and procedures and are
              guided by stringent value principles
              apply best practices in our daily
              operations </li>
              <li>We also offer <b>transportation and logistics services</b> through our trusted
                  partners and that which makes us one
                  stop service and your choice logistics
                  solution provider. </li></ul>

              <a href="" class="btn">Explore<span>&#10155;</span></a>
          </div>
          <div class="col-2">
              <img src="images/services.jpg">

          </div>
      </div>

          <br>
          <hr>


      <div class="row" id="road">
          <div class="col-2">
              <h3>ROAD FREIGHT</h3>
              <p><strong>Reliable</strong> and <b>time-definite door-to-door</b>
                  road transport. Our multi-modal infra-
                  structure, which unites all products in
                  one warehouse and distribution center,
                  ensures the highest possible level of
                  efficiency.
                  By connecting our locations, we are able
                  to offer you tailor-made solutions for
                  full truck or less than full truck cargo
                  loads
              </p>

              <a href="" class="btn">Explore<span>&#10155;</span></a>
          </div>
          <div class="col-2">
              <img src="images/road.jpg" style="height: available" width="1920">

          </div>
          <br>
          <hr>

          <div class="row" id="customs">
              <div class="col-2">
                  <h3>CUSTOMS CLEARANCE</h3>
                  <p>Our professional staff are skilled in customs law,
                      regulations and procedures for all countries in East
                      Africa. We provide consultancy services based on our
                      experience as well continuous development and training
                      for our staff to ensure up to date knowledge of customs
                      regulations.
                      Customs Broker providing efficient and trouble free
                      customs clearance and documentation services for all
                      types of products, whether by air freight or sea freight.
                      We offer personalized services to our clients and always
                      spend time with them to ensure that all their
                      requirements are met and all administration is handled
                      professionally and efficiently.
                      Our Customs Brokerage Fees are competitive while
                      covering all necessary legal and logistical requirements.
                      We take care of customs clearance for all the import and
                      export consignments.
                      Our Customs Services Includes: <ul><li>Customs Clearance and Documentation</li> <li>Door-to-Door from anywhere in the world  </li><li>Sea Freight Customs Clearance and
                  Documentation the Port of Mombasa </li> <li>Air Freight Customs Clearance and
                  Documentation from JKIA </li> <li>Direct Computer Link to Customs and Kenya
                  Revenue Authority through the Simba System </li> <li>Direct Computer Link to Kenya Ports Authority
                  through KWATOS </li></ul></p>

                  <a href="" class="btn">Explore<span>&#10155;</span></a>
              </div>
              <div class="col-2">
                  <img src="images/customsbrokerage.jpg" style="height: available" width="1920">

              </div>
          </div>

          <br>
          <hr>

          <div class="row" id="supplies">
              <div class="col-2">
                  <h3>GENERAL SUPPLIES: </h3>
                  <p>Our aim is to provide cost efficient procurement on a larger scale, straight from
                      the source & offer supply solutions in the most demanding environments where
                      lead times and supply locations are challenging.
                      Working as a general order supplier, we have commitment, dedication and support of
                      different business professionals and organizations of different fields to ensure best
                      quality services and perfect goods required by our customers. Some of the main
                      focused areas are; Service & Support; Real Estate Consultants ; Construction &
                      Renovations Architect & Interior Designing; General order suppliers and Construction
                      Machinery among others</p>
                  <h4>a.) Supply of building & construction material:</h4>
                  <p><ul><li>Sand, Bricks, Cement, Iron, CGI Sheets</li><li>Design and Fabrication of House Hold items (Steel Beds /Tables, Chairs Etc. </li><li>Heavy Machinery </li><li>Construction & Renovation of Buildings
                  / Roads </li><li>Water Heating & Cooling System </li></ul></p>

                  <a href="" class="btn">Explore<span>&#10155;</span></a>
              </div>
              <div class="col-2">
                  <img src="images/construction.jpg" style="height: available" width="1920">

              </div>
          </div>
          <br>
          <hr>


          <div class="row" id="office">
              <div class="col-2">
                  <h4>b.) General Office Suppliers</h4>
                  <h4>Office Furniture</h4>
                  <p>We offer a wide range of
                      Office systems and chairs that are
                      flexible, dynamic and ergonomic. We
                      understand your needs & requirements
                      and provide solutions to fulfill them.</p>
                  <h4>Stationery Sell and Supply</h4>
                  <p>Stationery really covers a vast array of everyday
                      office items. We supply all major brands and cover
                      the whole spectrum of products including: <ul><li>Papers,
                  Envelopes, Writing, Graphic Supplies,
                  Desktop Accessories & Labels</li> <li>Books,
                  Pads, Diaries, Organizers, Filing &
                  Archival Storage</li><li>Accounting,
                  Personnel Files, Binders, Indices,
                  Office Tapes & Adhesives</li><li>Continuous
                  Stationery, Clips & Fasteners</li></ul></p>
                  <a href="" class="btn">Explore<span>&#10155;</span></a>
              </div>
              <div class="col-2">
                  <img src="images/office.jpg" style="height: available" width="1920">

              </div>
          </div>
          <br>
          <hr>


          <div class="row" id="printing">
              <div class="col-2">
                  <h3>Printing Services</h3>
                  <p>This unit is involved in provision of expert computer-related services with efficiency.
                      This is an express service where binding is done ‘As-u- wait’. Off-press binding of
                      printed matter e.g. receipts books. <ul><li>Binding
                  - different types and all sizes of binding e.g. spiral, tape, thermal,
                  hard cover etc</li><li>All
                  types of document typing, project typing and Scan</li><li>All
                  types of Offset Press Printing e.g. Letterheads, Comp slips, Invoice books,
                  Delivery, Cash sales, Exercise books, Flyers, Posters, Brochures, Labels etc.</li><li>Color
                  separations and full color printing of all sizes.</li></ul></p>
                  <h3 id="advertising">Advertising and Branding</h3>
                  <p>Gooa World Freighters Limited’s Marketing division has qualified staff members
                      with experience in branding and advertising, which includes: <ul><li>Graphic
                  design and printing of; Letterheads, Logo design, Business
                  cards, Occasion cards, Staff ID cards, Sign boards, Neon signs and Bill
                  boards of all sizes.</li><li>Plotter Branding</li><li>Wide format printing</li></ul></p>
                  <a href="" class="btn">Explore<span>&#10155;</span></a>
              </div>
              <div class="col-2">
                  <img src="images/printing.jpg" style="height: available" width="1920">

              </div>
          </div>

          <br>
          <hr>

          <div class="row" id="corporate">
              <div class="col-2">
                  <h3>Corporate Advertising and Branding</h3>
                  <p>Gooa World Freighters Limited’s Marketing division has qualified staff members
                      with experience in branding and advertising, which includes: <ul><li>Graphic
                  design and printing.</li><li>Letterheads,
                  Logo design, Business cards, Occasion cards, Staff ID
                  cards, Sign boards, Neon signs and Bill boards of all sizes.</li><li>Plotter Branding</li><li>Wide Format Printing</li></ul></p>
                  <a href="" class="btn">Explore<span>&#10155;</span></a>
              </div>
              <div class="col-2">
                  <img src="images/advertising.jpg" style="height: available" width="1920">

              </div>
          </div>

          <br>
          <hr>


          <div class="row" id="agriculture">
              <div class="col-2">
              <h3>Supply of Agricultural Products <small style="font-family: 'Sansita Swashed', cursive"><i>Your place to find all your supplies for your agricultural or produce business, Order TODAY!</i></small></h3>
              <p>We deal in general supplies, distribution, wholesale and retail of all types of
                  Agricultural products including Vegetables, Fruits and dry cereals produce such as
                  maize, beans, wheat, soya, millet, sorghum, rice, peas, grams among others to
                  NGO'S , Government institutions, Schools, Private Companies, Hotels and
                  Individuals.
                  Our network of reliable supply principals and well-established strategic partners
                  help us to address the challenges faced by our customers in our rather
                  transforming business environment
                  Our good source procurement team has established: <ul><li>Strong reputation with manufacturing partners for handling product with integrity</li><li>The first source of liquidation for many manufacturers </li><li>Supplier relationships that include exclusive product lines, first refusal
              rights and “take all” contracts </li><li>The ability to purchase and finance large lots of product for our customers </li></ul></p>
                  <a href="" class="btn">Explore<span>&#10155;</span></a>
              </div>
              <div class="col-2">
                  <img src="images/agriculture.jpg" style="height: available" width="1920">

              </div>
          </div>
          <br>
          <hr>
      </div>
  </div>

  <footer class="py-5 bg-dark" style="height: 5px">
      <!--      <div class="container-footer" style="height: 5px" style="width: auto">-->
      <!--          <img src="images/shipping.png" class="img-responsive" alt="COmpany Logo" style="alignment: center">-->
      <p class="m-0 text-center text-white">Copyright &copy; GOOA 2020. All Rights Reserved</p>
      <!--      </div>-->
      <!-- /.container -->
  </footer>
</body>
</html>